/* actor-sheet */
@import url('actor-sheet/basic.css');
@import url('actor-sheet/combat.css');
@import url('actor-sheet/gear.css');
@import url('actor-sheet/skills.css');

/* tools */
@import url('tools/itemTable.css');

/* globals */
.rollable {
    background-color: #dfc1ff;
    cursor: pointer;
}

.rollable:hover {
    background-color: #b773ff;
}

.navbar-item {
    font-size: x-large;
}

/* overrides */

a:hover {
    text-shadow: 0 0 8px #dfc1ff;
}

.tabs .item.active {
    text-shadow: 0 0 10px #b773ff;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus {
    box-shadow: 0 0 5px #b773ff;
}

select,
input {
    background-color: white !important;
}

.disabled-color {
    color: darkgray;
    cursor: default;
}
input:disabled {
    background-color: lightgray !important;
}
