/* actor-sheet */
@import url('actor-sheet/basic.css');
@import url('actor-sheet/combat.css');
@import url('actor-sheet/gear.css');
@import url('actor-sheet/skills.css');
@import url('actor-sheet/spells.css');

/* item sheets */
@import url('item-sheets/common.css');
@import url('item-sheets/gear-sheet.css');
@import url('item-sheets/spell-sheet.css');
@import url('item-sheets/weapon-sheet.css');

/* rollResult */
@import url('rollResult.css');

/* tools */
@import url('tools/itemTable.css');

/* globals */
.rollable {
    background-color: #dfc1ff;
    cursor: pointer;
}

.rollable:hover {
    background-color: #b773ff;
}

.navbar-item {
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    border: thin solid black;
}

/* overrides */

section.window-content {
    padding: 0 !important;
}

section.primary-content {
    padding: 4px;
}

a:hover {
    text-shadow: 0 0 8px #dfc1ff;
}

.tabs .item.active {
    text-shadow: 0 0 10px #b773ff;
    border-bottom: none;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus {
    box-shadow: 0 0 5px #b773ff;
}

select,
input {
    background-color: white !important;
}

.disabled-color {
    color: darkgray;
    cursor: default;
}
input:disabled {
    background-color: lightgray !important;
}

/** should contain <h3> and then an {{editor}} */
div.editor-section {
    margin-left: 8px;
    margin-right: 8px;
    position: relative; /* aligning .editor-edit */
}

.editor {
    min-height: 32px !important;
    position: static !important;
}

.editor-edit {
    display: block; /* not !important so that it's hidden when editor is active */
    position: absolute;
    top: -6px;
    right: 0px;
}

.editor-container {
    flex-shrink: 0 !important;
}

.editor-content.ProseMirror {
    height: max-content !important;
    position: relative !important;
}
