.itemTable {
    width: 100%;
    height: 1px;
    border-collapse: separate;
    border-spacing: 0;
    border-top: none !important;
    border-bottom: none !important;
    margin-bottom: 0px;
}

/* alternating column colors */
.itemTable > colgroup > col:nth-child(odd) {
    /* */
}

.itemTable > colgroup > col:nth-child(even) {
    background-color: rgb(255,255,255,0.3);
}

/* table borders */
.itemTable > tbody > tr:first-child > th {
    border: thin solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.itemTable > tbody > tr > th:first-child,
.itemTable > tbody > tr > td:first-child {
    border-left: thin solid black;
}
.itemTable > tbody > tr > th:last-child,
.itemTable > tbody > tr > td:last-child {
    border-right: thin solid black;
}

.itemTable > tbody > tr > td {
    text-align: center;
}

/* overriding Foundry's default width for inputs */
.itemTable-inputText {
    text-align: left !important;
}
.itemTable-inputNum {
    width: 2em !important;
}

.itemTable-buttons {
    display: flex;
    justify-content: flex-end;
    border-left: thin solid black;
    border-bottom-left-radius: 5px;
    border-bottom: thin solid black;
    border-bottom-right-radius: 5px;
    border-right: thin solid black;
    padding-top: 5px;
    padding-right: 5px;
}
.itemTable-buttons > a:first-child {
    padding-left: 10px;
    padding-right: 10px;
}
