<form class="{{cssClass}}" autocomplete="off">
    <nav class="primary-tabs tabs" data-group="primary">
        {{#if data.system.settings.sheetToggle.basic}}
        <a class="item navbar-item" data-tab="basic" data-group="primary">BASIC</a>
        {{/if}}
        {{#if data.system.settings.sheetToggle.combat}}
        <a class="item navbar-item" data-tab="combat" data-group="primary">COMBAT</a>
        {{/if}}
        {{#if data.system.settings.sheetToggle.gear}}
        <a class="item navbar-item" data-tab="gear" data-group="primary">GEAR</a>
        {{/if}}
        {{#if data.system.settings.sheetToggle.skills}}
        <a class="item navbar-item" data-tab="skills" data-group="primary">SKILLS</a>
        {{/if}}
        {{#if data.system.settings.sheetToggle.spells}}
        <a class="item navbar-item" data-tab="spells" data-group="primary">SPELLS</a>
        {{/if}}
        <a class="item navbar-item" data-tab="settings" data-group="primary">SETTINGS</a>
    </nav>
    <section class="primary-content">
        <div class="tab basic" data-group="primary" data-tab="basic">
            {{> pcTabBasic }}
        </div>
        <div class="tab combat" data-group="primary" data-tab="combat">
            {{> pcTabCombat }}
        </div>
        <div class="tab gear" data-group="primary" data-tab="gear">
            {{> pcTabGear }}
        </div>
        <div class="tab skills" data-group="primary" data-tab="skills">
            {{> pcTabSkills }}
        </div>
        <div class="tab spells" data-group="primary" data-tab="spells">
            {{> pcTabSpells }}
        </div>
        <div class="tab settings settings-list" data-group="primary" data-tab="settings">
            <h2 class="module-header">Character Sheet Settings</h2>
            <div class="form-group">
                <label>Show Basic Tab</label>
                <div class="form-fields">
                    <input
                        type="checkbox"
                        name="system.settings.sheetToggle.basic"
                        {{checked data.system.settings.sheetToggle.basic}}
                    >
                </div>
            </div>
            <div class="form-group">
                <label>Show Combat Tab</label>
                <div class="form-fields">
                    <input
                        type="checkbox"
                        name="system.settings.sheetToggle.combat"
                        {{checked data.system.settings.sheetToggle.combat}}
                    >
                </div>
            </div>
            <div class="form-group">
                <label>Show Gear Tab</label>
                <div class="form-fields">
                    <input
                        type="checkbox"
                        name="system.settings.sheetToggle.gear"
                        {{checked data.system.settings.sheetToggle.gear}}
                    >
                </div>
            </div>
            <div class="form-group">
                <label>Show Skills Tab</label>
                <div class="form-fields">
                    <input
                        type="checkbox"
                        name="system.settings.sheetToggle.skills"
                        {{checked data.system.settings.sheetToggle.skills}}
                    >
                </div>
            </div>
            <div class="form-group">
                <label>Show Spells Tab</label>
                <div class="form-fields">
                    <input
                        type="checkbox"
                        name="system.settings.sheetToggle.spells"
                        {{checked data.system.settings.sheetToggle.spells}}
                    >
                </div>
            </div>
        </div>
    </section>
</form>
