.basic-top {
    display: flex;
    flex-direction: row;
}

.basic-top > table {
    border: none;
}

.basic-top-alignment {
    width: 100%;
}

.basic-mid {
    display: flex;
}

.basic-mid-stats {
    width: fit-content;
    border: none;
}

.basic-mid-stats > tbody > tr {
    height: 60px;
}

.basic-mid-stats > tbody > tr > td {
    font-size: x-large;
}

/* ability score input */
.basic-mid-stats > tbody > tr > td > input {
    width: 2rem;
    text-align: center;
}

.basic-mid > div {
    flex: 1;
    margin-top: 0.5em;
}

.basic-derivedRow {
    display: flex;
    text-align: center;
    height: 60px;
}

.basic-derivedRow-altColor {
    background-color: rgba(0,0,0,0.05);
}

/* derived entry */
.basic-derivedRow > div {
    flex: 1;
    border: thin solid black;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
}

.derived-label {
    font-size: small;
}

.derived-value {
    font-size: large;
}

.combat-top-hp-button {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: thin solid black;
    border-radius: 10px;
}
