.combat-big-text {
    display: inline-block;
    font-size: 24px !important;
    min-height: 40px !important;
    line-height: 40px;
}

.combat-top {
    display: flex;
    justify-content: space-evenly;
}

.combat-top > div {
    border: thin solid black;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
}

.combat-top > div > span {
    font-size: larger;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

.combat-top > div > div:not(.rollable) {
    display: flex;
    text-align: center;
    gap: 10px;
}

.combat-top > div > hr {
    border: 1px solid black;
}

.combat-top > div > div > div > input {
    width: 2em;
}

.combat-top-hp {
    width: 220px;
}

.combat-top-hp > span {
    outline: thin solid black;
    width: 100%;
    text-align: center;
}

.combat-top-hp-button {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: thin solid black;
    border-radius: 10px;
}

.combat-top-ac > div > div {
    border: thin solid black;
    border-radius: 5px;
    padding: 0px 5px 5px 5px;
}

.combat-top-attacks > div > div {
    border: thin solid black;
    border-radius: 5px;
    padding: 0px 5px 5px 5px;
}

.weapon-damage {
    width: 64px;
}

.weapon-range {
    width: 128px;
}

.weapon-roll-td {
    width: 32px;
}

.weapon-roll {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: thin solid black;
    border-radius: 8px;
}

.combat-mid {
    display: flex;
    justify-content: center;
}

.combat-mid-throws {
    width: 150px;
    height: 200px;
    border: thin solid black;
    border-radius: 5px;
    border-collapse: separate;
    margin-right: 5px;
    margin-bottom: 0;
}

.combat-mid-throws > tbody > tr:first-child > th {
    border-bottom: thin solid black;
}

.combat-mid-throws > tbody > tr > td:first-child {
    width: 100px;
}

.combat-mid-throws-value {
    border: thin solid black;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
    width: 2rem;
    text-align: center;
}

.combat-mid-throwMods {
    width: calc(100% - 150px);
    min-width: 450px;
    max-width: 800px;
}

.combat-bot-ac {
    width: 150px;
}
