.gear-top {
    display: flex;
    flex-direction: row;
}

.gear-top-left {
    margin: 5px;
    width: 70%;
}

#gear-top-left-equipped {
    width: 64px;
}
#gear-top-left-weight {
    width: 64px;
}
#gear-top-left-buttons {
    width: 40px;
}

.gear-top-right {
    margin: 5px;
    width: 30%;
}

.gear-top-right > table > tbody > tr:last-child > td {
    border-bottom: thin solid black;
    border-radius: 5px;
}

.encumbranceHighlight{
    background-color: #73c5ff !important;
    font-weight: bold;
}

.gear-tabs {
    justify-content: center;
    border-bottom: thin solid black;
}

.gear-tabs > a {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;

    margin-bottom: -1px;

    border: thin solid black;
    border-bottom: none;
}

.gear-tabs > a.active {
    border-bottom: none;

    background: url(../../../../ui/parchment.jpg) repeat;
}

.gear-tab-wrap {
    display: flex;
    flex-direction: row;
}

.gear-tab-items {
    width: 80%;
    margin-left: 5%;
    margin-right: 2%;
}

.gear-tab-items-value {
    width: 6em !important;
}

.gear-tab-wealth {
    margin-left: 2%;
    margin-right: 5%;
}

.gear-tab-wealth-table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: none !important;
    border-bottom: none !important;
}

.gear-tab-wealth-table-top {
    border-top: thin solid black;
    border-left: thin solid black;
    border-right: thin solid black;
    border-radius: 5px 5px 0 0;
}

.gear-tab-wealth-table-left {
    border-left: thin solid black;
}

.gear-tab-wealth-table-right {
    border-right: thin solid black;
}

.gear-tab-wealth-table-bottomLeft {
    border-bottom: thin solid black;
    border-left: thin solid black;
    border-radius: 0 0 0 5px;
}

.gear-tab-wealth-table-bottomRight {
    border-bottom: thin solid black;
    border-right: thin solid black;
    border-radius: 0 0 5px 0;
}

.gear-wealth-inputNum {
    width: 4em !important;
}

.gearTableVal,
.gearTableWgt,
.gearTableQty {
    width: 32px;
}

.gearTableButtons{
    width: 64px;
}
