<form class="{{cssClass}}" autocomplete="off">
    <nav class="primary-tabs tabs" data-group="primary">
        <a class="item navbar-item" data-tab="basic" data-group="primary">BASIC</a>
        <a class="item navbar-item" data-tab="combat" data-group="primary">COMBAT</a>
        <a class="item navbar-item" data-tab="gear" data-group="primary">GEAR</a>
    </nav>
    <section class="primary-content">
        <div class="tab basic" data-group="primary" data-tab="basic">
            <div class="basic-top">
                <table>
                    <tr>
                        <td>Player:</td>
                        <td>
                            <input
                                name="data.playerName"
                                type="text"
                                value="{{data.data.playerName}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>
                            <input
                                name="name"
                                type="text"
                                value="{{data.name}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Languages:</td>
                        <td>
                            <input
                                name="data.languages"
                                type="text"
                                value="{{data.data.languages}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Alignment:</td>
                        <td>
                            <select name="data.alignment" style="width: 100%">
                                {{selectOptions alignmentChoices selected=data.data.alignment}}
                            </select>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Race:</td>
                        <td>
                            <input
                                name="data.race"
                                type="text"
                                value="{{data.data.race}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Classes:</td>
                        <td>
                            <input
                                name="data.classes"
                                type="text"
                                value="{{data.data.classes}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>XP:</td>
                        <td>
                            <input
                                name="data.xp"
                                type="text"
                                value="{{data.data.xp}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Levels:</td>
                        <td>
                            <input
                                name="data.levels"
                                type="text"
                                value="{{data.data.levels}}"
                            />
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Body Weight:</td>
                        <td>
                            <input
                                name="data.bodyWeight"
                                type="number"
                                value="{{data.data.bodyWeight}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Height:</td>
                        <td>
                            <input
                                name="data.height"
                                type="text"
                                value="{{data.data.height}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Sex:</td>
                        <td>
                            <input
                                name="data.sex"
                                type="text"
                                value="{{data.data.sex}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>
                            <input
                                name="data.gender"
                                type="text"
                                value="{{data.data.gender}}"
                            />
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Size:</td>
                        <td>
                            <input
                                name="data.size"
                                type="text"
                                value="{{data.data.size}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Speed:</td>
                        <td>
                            <input
                                name="data.speed"
                                type="number"
                                value="{{data.data.speed}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td>
                            <input
                                name="data.age"
                                type="text"
                                value="{{data.data.age}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Handed:</td>
                        <td>
                            <input
                                name="data.handed"
                                type="text"
                                value="{{data.data.handed}}"
                            />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="basic-mid">
                <table>
                    <tr>
                        <td>STR</td>
                        <td>
                            <input
                                name="data.str"
                                type="number"
                                value="{{data.data.str}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>DEX</td>
                        <td>
                            <input
                                name="data.dex"
                                type="number"
                                value="{{data.data.dex}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>CON</td>
                        <td>
                            <input
                                name="data.con"
                                type="number"
                                value="{{data.data.con}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>INT</td>
                        <td>
                            <input
                                name="data.int"
                                type="number"
                                value="{{data.data.int}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>WIS</td>
                        <td>
                            <input
                                name="data.wis"
                                type="number"
                                value="{{data.data.wis}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>CHA</td>
                        <td>
                            <input
                                name="data.cha"
                                type="number"
                                value="{{data.data.cha}}"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>PER</td>
                        <td>
                            <input
                                name="data.per"
                                type="number"
                                value="{{data.data.per}}"
                            />
                        </td>
                    </tr>
                </table>
                <div>
                    <div class="derived-row" id="derived-str">
                        <div>
                            <span class="derived-label">
                                Melee Attack Adjust
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.meleeAttackAdjust}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Melee Damage Adjust
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.meleeDamageAdjust}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Weight Allowance
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.weightAllowance}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Max Press
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.maxPress}}
                            </span>
                        </div>
                        <div 
                            class="rollable"
                            data-roll="d20cs<={{data.data.openDoors}}"
                            data-label="Open Doors Check"
                        >
                            <span class="derived-label">
                                Open Doors
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.openDoors}}
                            </span>
                        </div>
                        <div
                            class="rollable"
                            data-roll="d100cs<={{data.data.bendBars}}"
                            data-label="Bend Bars Check"
                        >
                            <span class="derived-label">
                                Bend Bars
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.bendBars}}
                            </span>
                        </div>
                    </div>
                    <div class="derived-row" id="derived-dex">
                        <div>
                            <span class="derived-label">
                                Missile Hit Adjustment
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.missileHitAdjust}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Defensive Adjustment
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.defenseAdjust}}
                            </span>
                        </div>
                    </div>
                    <div class="derived-row" id="derived-con">
                        <div>
                            <span class="derived-label">
                                HP Adjust
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.hitPointAdjust}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                System Shock
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.systemShock}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Poison Save
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.poisonSave}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Regen
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.regen}}
                            </span>
                        </div>
                    </div>
                    <div class="derived-row" id="derived-int">
                        <div>
                            <span class="derived-label">
                                Languages
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.numLanguages}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Max Spell Level
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.maxSpellLevel}}
                            </span>
                        </div>
                        <div
                            class="rollable"
                            data-roll="d100cs<={{data.data.spellLearnChance}}"
                            data-label="Chance to Learn Spell"
                        >
                            <span class="derived-label">
                                Chance to Learn Spell
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.spellLearnChance}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Max Spells per Level
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.maxSpellPerLevel}}
                            </span>
                        </div>
                    </div>
                    <div class="derived-row" id="derived-wis">
                        <div>
                            <span class="derived-label">
                                Magical Defense Adjust
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.magicDefenseAdjust}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Bonus Spells
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.bonusSpells}}
                            </span>
                        </div>
                        <div
                            class="rollable"
                            data-roll="d100cs<={{data.data.chanceSpellFailure}}"
                            data-label="Spell Failure"
                        >
                            <span class="derived-label">
                                Spell Failure
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.chanceSpellFailure}}
                            </span>
                        </div>
                    </div>
                    <div class="derived-row" id="derived-cha">
                        <div>
                            <span class="derived-label">
                                Henchmen
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.maxHenchmen}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Loyalty Base
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.loyaltyBase}}
                            </span>
                        </div>
                        <div
                            class="rollable"
                            data-roll="2d10+{{data.data.reactionAdjust}}"
                            data-label="Encounter Reaction"
                        >
                            <span class="derived-label">
                                Reaction Adjustment
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.reactionAdjust}}
                            </span>
                        </div>
                    </div>
                    <div class="derived-row" id="derived-per">
                        <div
                            class="rollable"
                            data-roll="d10cs>(3-{{data.data.surpriseAdjust}})"
                            data-label="Surprise Check"
                        >
                            <span class="derived-label">
                                Surprise Adjustment
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.surpriseAdjust}}
                            </span>
                        </div>
                        <div>
                            <span class="derived-label">
                                Illusion Immunity
                            </span>
                            <br />
                            <span class="derived-value">
                                {{data.data.illusionImmunity}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab combat" data-group="primary" data-tab="combat">
            <div class="combat-top">
                <div class="combat-top-hp">
                    <span
                        class="rollable"
                        data-roll="{{data.data.hitDieRoll}}+{{data.data.hitPointAdjust}}"
                        data-label="Hit Die"
                    >Hit Points</span>
                    <hr />
                    <div>
                        <div>
                            <input
                                name="data.health.value"
                                type="number"
                                value="{{data.data.health.value}}"
                                class="combat-big-text"
                            />
                            <br />
                            <span>Current</span>
                        </div>
                        <div>
                            <input
                                name="data.health.max"
                                type="number"
                                value="{{data.data.health.max}}"
                                class="combat-big-text"
                            />
                            <br />
                            <span>Maximum</span>
                        </div>
                        <div>
                            <select class="combat-big-text combat-top-select" name="data.hitDieRoll">
                                {{selectOptions hitDieChoices selected=data.data.hitDieRoll}}
                            </select>
                            <br />
                            <span>Hit Dice</span>
                        </div>
                    </div>
                    <!--
                    <div 
                        class="combat-top-hp-button rollable"
                        data-roll="{{data.data.hitDieRollAdjusted}}"
                        data-label="Hit Die"
                    ></div>
                    -->
                </div>
                <div class="combat-top-ac">
                    <span>Armor Class</span>
                    <hr />
                    <div>
                        <div>
                            <span class="combat-big-text">{{data.data.armorClasses.total}}</span>
                            <br />
                            <span>Total</span>
                        </div>
                        <div>
                            <span class="combat-big-text">{{data.data.armorClasses.back}}</span>
                            <br />
                            <span>Back</span>
                        </div>
                        <div>
                            <span class="combat-big-text">{{data.data.armorClasses.touch}}</span>
                            <br />
                            <span>Touch</span>
                        </div>
                        <div>
                            <span class="combat-big-text">{{data.data.armorClasses.surprise}}</span>
                            <br />
                            <span>Surprise</span>
                        </div>
                    </div>
                </div>
                <div class="combat-top-attacks">
                    <span>Basic Attacks</span>
                    <hr/>
                    <div>
                        <div
                            class="rollable"
                            data-roll="d20+{{data.data.hitAdjust.melee}}"
                            data-label="Basic Melee Attack"
                        >
                            <span class="combat-big-text">{{data.data.hitAdjust.melee}}</span>
                            <br />
                            <span>Melee</span>
                        </div>
                        <div
                            class="rollable"
                            data-roll="d20+{{data.data.hitAdjust.missile}}"
                            data-label="Basic Missile Attack"
                        >
                            <span class="combat-big-text">{{data.data.hitAdjust.missile}}</span>
                            <br />
                            <span>Missile</span>
                        </div>
                        <div
                            class="rollable"
                            data-roll="d20+{{data.data.hitAdjust.thrown}}"
                            data-label="Basic Thrown Attack"
                        >
                            <span class="combat-big-text">{{data.data.hitAdjust.thrown}}</span>
                            <br />
                            <span>Thrown</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="combat-mid">
                <table class="combat-mid-throws">
                    <tr>
                        <th colspan="2">Saving Throws</th>
                    </tr>
                    <tr>
                        <td>
                            Paralyzation, Poison, Death
                        </td>
                        <!-- TODO: Constitution modifier for posion -->
                        <td
                            class="rollable combat-big-text combat-mid-throws-value"
                            data-roll="d20cs>={{data.data.savingThrows.ppd}}"
                            data-label="Saving Throw against Paralyzation/Poison/Death"
                        >
                            {{data.data.savingThrows.ppd}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rods, Staves, Wands
                        </td>
                        <td
                            class="rollable combat-big-text combat-mid-throws-value"
                            data-roll="d20cs>={{data.data.savingThrows.rsw}}"
                            data-label="Saving Throw against Rods/Staves/Wands"
                        >
                            {{data.data.savingThrows.rsw}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Petrification, Polymorph
                        </td>
                        <td
                            class="rollable combat-big-text combat-mid-throws-value"
                            data-roll="d20cs>={{data.data.savingThrows.pepo}}"
                            data-label="Saving Throw against Petrification/Polymorph"
                        >
                            {{data.data.savingThrows.pepo}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Breath Weapon
                        </td>
                        <td
                            class="rollable combat-big-text combat-mid-throws-value"
                            data-roll="d20cs>={{data.data.savingThrows.brw}}"
                            data-label="Saving Throw against Breath Weapon"
                        >
                            {{data.data.savingThrows.brw}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Spell
                        </td>
                        <!-- TODO: Wisdom modifier for "mind"-affecting spells -->
                        <td
                            class="rollable combat-big-text combat-mid-throws-value"
                            data-roll="d20cs>={{data.data.savingThrows.spell}}"
                            data-label="Saving Throw against Spell"
                        >
                            {{data.data.savingThrows.spell}}
                        </td>
                    </tr>
                </table>
                <div class="combat-mid-throwMods">
                    <table class="itemTable">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="15">Saving Throw Modifiers</th>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <th>P/P/D</th>
                            <th>R/S/W</th>
                            <th>Pe/Po</th>
                            <th>Br. W</th>
                            <th>Spell</th>
                            <th>All</th>
                            <th></th>
                            <th></th>
                            <th>Active?</th>
                        </tr>
                        {{#each actor.data.items}}
                        {{#if (eq this.type "throwMod")}}
                        <tr class="item" data-item-id="{{this.id}}">
                            <td>
                                <input
                                    type="text"
                                    class="itemTable-inputText item-edit"
                                    id="{{this.id}}.name"
                                    name="{{this.id}}.name"
                                    value="{{this.data.data.name}}"
                                    data-target="data.name"
                                    data-name=true
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    name="{{this.id}}.ppd"
                                    value="{{this.data.data.ppd}}"
                                    data-target="data.ppd"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    name="{{this.id}}.rsw"
                                    value="{{this.data.data.rsw}}"
                                    data-target="data.rsw"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    name="{{this.id}}.pepo"
                                    value="{{this.data.data.pepo}}"
                                    data-target="data.pepo"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    name="{{this.id}}.brw"
                                    value="{{this.data.data.brw}}"
                                    data-target="data.brw"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    name="{{this.id}}.spell"
                                    value="{{this.data.data.spell}}"
                                    data-target="data.spell"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    name="{{this.id}}.all"
                                    value="{{this.data.data.all}}"
                                    data-target="data.all"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <a
                                    class="item-control item-delete"
                                    title="Delete Item"
                                    data-locked={{this.data.data.locked}}
                                >
                                    <i class="fas fa-trash {{#if this.data.data.locked}} disabled-color {{/if}}"></i>
                                </a>
                            </td>
                            <td>
                                <a
                                    class="item-control item-toggle"
                                    title="Lock Item"
                                    data-value={{this.data.data.locked}}
                                    data-target="data.locked"
                                >
                                    <i class="fas {{#if this.data.data.locked}} fa-lock {{else}} fa-lock-open {{/if}}"></i>
                                </a>
                            </td>
                            <td>
                                <input
                                    type="checkbox"
                                    class="item-edit"
                                    name="{{this.id}}.active"
                                    data-target="data.active"
                                    {{checked this.data.data.active}}
                                >
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </table>
                    <div class="itemTable-buttons">
                        <a class="item-create" data-type="throwMod"><i class="fas fa-plus"></i> Add modifier</a>
                    </div>
                </div>
            </div>
            <div class="combat-mid">
                <table class="combat-mid-throws">
                    <tr>
                        <th colspan="2">
                            Armor Classes
                        </th>
                    </tr>
                    <tr>
                        <td>Natural</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.armorClasses.natural}}</td>
                    </tr>
                    <tr>
                        <td>Dexterity</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.armorClasses.dexterity}}</td>
                    </tr>
                    <tr>
                        <td>Armor</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.armorClasses.armor}}</td>
                    </tr>
                    <tr>
                        <td>Shield</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.armorClasses.shield}}</td>
                    </tr>
                    <tr>
                        <td>Magic</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.armorClasses.magic}}</td>
                    </tr>
                    <tr>
                        <td>Encumbrance</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.armorClasses.encumbrance}}</td>
                    </tr>
                </table>
                <div class="combat-mid-throwMods">
                    <table class="itemTable">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="9">AC Modifiers</th>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <th>Natural</th>
                            <th>Dexterity</th>
                            <th>Armor</th>
                            <th>Shield</th>
                            <th>Magic</th>
                            <th></th>
                            <th></th>
                            <th>Active?</th>
                        </tr>
                        {{#each actor.data.items}}
                        {{#if (eq this.type "acMod")}}
                        <tr class="item" data-item-id="{{this.id}}">
                            <td>
                                <input
                                    type="text"
                                    class="itemTable-inputText item-edit"
                                    id="{{this.id}}.name"
                                    name="{{this.id}}.name"
                                    value="{{this.data.data.name}}"
                                    data-target="data.name"
                                    data-name=true
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    id="{{this.id}}.natural"
                                    name="{{this.id}}.natural"
                                    value="{{this.data.data.natural}}"
                                    data-target="data.natural"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    id="{{this.id}}.dexterity"
                                    name="{{this.id}}.dexterity"
                                    value="{{this.data.data.dexterity}}"
                                    data-target="data.dexterity"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    id="{{this.id}}.armor"
                                    name="{{this.id}}.armor"
                                    value="{{this.data.data.armor}}"
                                    data-target="data.armor"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    id="{{this.id}}.shield"
                                    name="{{this.id}}.shield"
                                    value="{{this.data.data.shield}}"
                                    data-target="data.shield"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                            >
                        </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    id="{{this.id}}.magic"
                                    name="{{this.id}}.magic"
                                    value="{{this.data.data.magic}}"
                                    data-target="data.magic"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <a
                                    class="item-control item-delete"
                                    title="Delete Item"
                                    data-locked={{this.data.data.locked}}
                                >
                                    <i class="fas fa-trash {{#if this.data.data.locked}} disabled-color {{/if}}"></i>
                                </a>
                            </td>
                            <td>
                                <a
                                    class="item-control item-toggle"
                                    title="Lock Item"
                                    data-value={{this.data.data.locked}}
                                    data-target="data.locked"
                                >
                                    <i class="fas {{#if this.data.data.locked}} fa-lock {{else}} fa-lock-open {{/if}}"></i>
                                </a>
                            </td>
                            <td>
                                <input
                                    type="checkbox"
                                    class="item-edit"
                                    name="{{this.id}}.active"
                                    data-target="data.active"
                                    {{checked this.data.data.active}}
                                >
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </table>
                    <div class="itemTable-buttons">
                        <a class="item-create" data-type="acMod"><i class="fas fa-plus"></i> Add modifier</a>
                    </div>
                </div>
            </div>
            <div class="combat-mid">
                <table class="combat-mid-throws">
                    <tr>
                        <th colspan="2">
                            Hit Adjust
                        </th>
                    </tr>
                    <tr>
                        <td>Melee</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.hitAdjust.melee}}</td>
                    </tr>
                    <tr>
                        <td>Missile</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.hitAdjust.missile}}</td>
                    </tr>
                    <tr>
                        <td>Thrown</td>
                        <td class="combat-mid-throws-value combat-big-text">{{data.data.hitAdjust.thrown}}</td>
                    </tr>
                </table>
                <div class="combat-mid-throwMods">
                    <table class="itemTable">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="7">To-Hit Modifiers</th>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <th>Melee</th>
                            <th>Missile</th>
                            <th>Thrown</th>
                            <th></th>
                            <th></th>
                            <th>Active?</th>
                        </tr>
                        {{#each actor.data.items}}
                        {{#if (eq this.type "hitMod")}}
                        <tr class="item" data-item-id="{{this.id}}">
                            <td>
                                <input
                                    type="text"
                                    class="itemTable-inputText item-edit"
                                    id="{{this.id}}.name"
                                    name="{{this.id}}.name"
                                    value="{{this.data.data.name}}"
                                    data-target="data.name"
                                    data-name=true
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    id="{{this.id}}.melee"
                                    name="{{this.id}}.melee"
                                    value="{{this.data.data.melee}}"
                                    data-target="data.melee"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    id="{{this.id}}.missile"
                                    name="{{this.id}}.missile"
                                    value="{{this.data.data.missile}}"
                                    data-target="data.missile"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <input
                                    type="number"
                                    class="itemTable-inputNum item-edit"
                                    id="{{this.id}}.thrown"
                                    name="{{this.id}}.thrown"
                                    value="{{this.data.data.thrown}}"
                                    data-target="data.thrown"
                                    {{#if this.data.data.locked}}disabled{{/if}}
                                >
                            </td>
                            <td>
                                <a
                                    class="item-control item-delete"
                                    title="Delete Item"
                                    data-locked={{this.data.data.locked}}
                                >
                                    <i class="fas fa-trash {{#if this.data.data.locked}} disabled-color {{/if}}"></i>
                                </a>
                            </td>
                            <td>
                                <a
                                    class="item-control item-toggle"
                                    title="Lock Item"
                                    data-value={{this.data.data.locked}}
                                    data-target="data.locked"
                                >
                                    <i class="fas {{#if this.data.data.locked}} fa-lock {{else}} fa-lock-open {{/if}}"></i>
                                </a>
                            </td>
                            <td>
                                <input
                                    type="checkbox"
                                    class="item-edit"
                                    name="{{this.id}}.active"
                                    data-target="data.active"
                                    {{checked this.data.data.active}}
                                >
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </table>
                    <div class="itemTable-buttons">
                        <a class="item-create" data-type="hitMod"><i class="fas fa-plus"></i> Add modifier</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab gear" data-group="primary" data-tab="gear">
            <div class="gear-top">
                <table class="gear-top-left">
                    <tr>
                        <th>Equipped?</th>
                        <th>Gear Tab</th>
                        <th>Weight</th>
                    </tr>
                    {{#each actor.data.data.gearTabs}}
                    <tr class="item" data-item-id="{{this.[0]}}">
                        <td><input type="checkbox" class="item-toggle" data-value={{this.[1].tab.data.data.equipped}}
                            data-target="data.equipped" {{#if this.[1].tab.data.data.equipped}}checked{{/if}}/></td>
                        <td>{{this.[1].tab.name}}</td>
                        <td>{{this.[1].tab.data.data.weight}}</td>
                    </tr>
                    {{/each}}
                    <tr>
                        <td colspan="2">Equipped weight</td>
                        <td>{{actor.data.data.equippedWeight}}</td>
                    </tr>
                </table>
                <table class="gear-top-right">
                    <tr>
                        <th>Encumbrance</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Weight</th>
                        <th>Speed Mod</th>
                    </tr>
                    <tr id="encumbrance-base">
                        <td>Base</td>
                        <td>{{actor.data.data.weightLimits.base}}</td>
                        <td>{{actor.data.data.speedLevels.base}}</td>
                    </tr>
                    <tr id="encumbrance-light">
                        <td>Light</td>
                        <td>{{actor.data.data.weightLimits.light}}</td>
                        <td>{{actor.data.data.speedLevels.light}}</td>
                    </tr>
                    <tr id="encumbrance-medium">
                        <td>Medium</td>
                        <td>{{actor.data.data.weightLimits.medium}}</td>
                        <td>{{actor.data.data.speedLevels.medium}}</td>
                    </tr>
                    <tr id="encumbrance-heavy">
                        <td>Heavy</td>
                        <td>{{actor.data.data.weightLimits.heavy}}</td>
                        <td>{{actor.data.data.speedLevels.heavy}}</td>
                    </tr>
                    <tr id="encumbrance-severe">
                        <td>Severe</td>
                        <td>{{actor.data.data.weightLimits.severe}}</td>
                        <td>{{actor.data.data.speedLevels.severe}}</td>
                    </tr>
                </table>
            </div>
            <nav class="gear-tabs tabs" data-group="gear">
                {{#each actor.data.data.gearTabs}}
                <a class="item navbar-item" data-tab="{{this.[0]}}" data-group="gear">{{this.[1].tab.data.data.name}}</a>
                {{/each}}
                <a class="item navbar-item" data-tab="+" id="gearTabAdd">+</a>
            </nav>
            <section class="gear-content">
                {{#each actor.data.data.gearTabs}}
                <div class="tab item" data-tab="{{this.[0]}}" data-item-id="{{this.[0]}}" data-group="gear">
                    Count tab towards encumbrance?
                    <input type="checkbox" class="item-toggle" data-value={{this.[1].tab.data.data.equipped}}
                    data-target="data.equipped" {{#if this.[1].tab.data.data.equipped}}checked{{/if}}/>
                    <br />
                    <a
                        class="item-create"
                        data-type="gear"
                        data-tab="{{this.[0]}}"
                    >
                        <i class="fas fa-plus"></i> Add item
                    </a>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Qty</th>
                                    <th>Name</th>
                                    <th>Wgt</th>
                                    <th>Val</th>
                                    <th>Notes</th>
                                    <th>Delete</th>
                                    <th>Lock</th>
                                </tr>
                            </thead>
                            <tbody class="item-list">
                                {{#each this.[1].items}}
                                <tr class="item" data-item-id="{{this.id}}">
                                    <td>
                                        <input
                                            type="number"
                                            class="itemTable-inputNum item-edit"
                                            id="{{this.id}}.quantity"
                                            name="{{this.id}}.quantity"
                                            value="{{this.data.data.quantity}}"
                                            data-target="data.quantity"
                                            {{#if this.data.data.locked}}disabled{{/if}}
                                        >
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="itemTable-inputText item-edit"
                                            id="{{this.id}}.name"
                                            name="{{this.id}}.name"
                                            value="{{this.data.data.name}}"
                                            data-target="data.name"
                                            data-name=true
                                            {{#if this.data.data.locked}}disabled{{/if}}
                                        >
                                    </td>
                                    <td>
                                        <input
                                            type="number"
                                            class="itemTable-inputNum item-edit"
                                            id="{{this.id}}.weight"
                                            name="{{this.id}}.weight"
                                            value="{{this.data.data.weight}}"
                                            data-target="data.weight"
                                            {{#if this.data.data.locked}}disabled{{/if}}
                                        >
                                    </td>
                                    <td>
                                        <input
                                            type="number"
                                            class="itemTable-inputNum item-edit"
                                            id="{{this.id}}.value"
                                            name="{{this.id}}.value"
                                            value="{{this.data.data.value}}"
                                            data-target="data.value"
                                            {{#if this.data.data.locked}}disabled{{/if}}
                                        >
                                    </td>
                                    <td>
                                        <a
                                            class="item-control item-notes"
                                            title="View Item Notes"
                                            data-locked="{{this.data.data.locked}}"
                                        >
                                            <i class="fas fa-book"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a
                                            class="item-control item-delete"
                                            title="Delete Item"
                                            data-locked={{this.data.data.locked}}
                                        >
                                            <i class="fas fa-trash {{#if this.data.data.locked}} disabled-color {{/if}}"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a
                                            class="item-control item-toggle"
                                            title="Lock Item"
                                            data-value={{this.data.data.locked}}
                                            data-target="data.locked"
                                        >
                                            <i class="fas {{#if this.data.data.locked}} fa-lock {{else}} fa-lock-open {{/if}}"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/each}}
                <div class="tab" data-tab="+" data-group="gear">
                    click the '+' to add tabs
                </div>
            </section>
        </div>
    </section>
</form>
