<form class="{{cssClass}}" autocomplete="off">
    <table>
        <tr>
            <td>Name</td>
            <td><input name="name" type="text" value="{{data.name}}" /></td>
        </tr>
        <tr>
            <td>Weight (pounds)</td>
            <td><input name="system.weight" type="number" value="{{data.system.weight}}" /></td>
            <td>Value (cp)</td>
            <td><input name="system.value" type="number" value="{{data.system.value}}" /></td>
        </tr>
    </table>
    <div class="gear-editor">
        {{editor
            enrichedHTML
            target="system.description"
            button=true
            editable=editable
        }}
    </div>
</form>
