<form class="{{cssClass}}" autocomplete="off">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input name="name" type="text" value="{{data.name}}" />
            </td>
        </tr>
        <tr>
            <td>Weight (pounds)</td>
            <td>
                <input name="data.weight" type="number" value="{{data.system.weight}}" />
            </td>
            <td>Value (cp)</td>
            <td>
                <input name="data.value" type="number" value="{{data.system.value}}" />
            </td>
        </tr>
        <tr>
            <td>Number of attacks</td>
            <td>
                <input name="data.numAttacks" type="text" value="{{data.system.numAttacks}}" />
            </td>
            <td>Bonus to hit</td>
            <td>
                <input name="data.toHit" type="number" value="{{data.system.toHit}}" />
            </td>
            <td>Damage roll</td>
            <td>
                <input name="data.damageRoll" type="text" value="{{data.system.damageRoll}}" />
            </td>
        </tr>
        <tr>
            <td>Range</td>
            <td>
                <input name="data.range" type="text" value="{{data.system.range}}" />
            </td>
            <td>Speed (initiative modifier)</td>
            <td>
                <input name="data.speed" type="number" value="{{data.system.speed}}" />
            </td>
        </tr>
    </table>
    <div class="gear-editor">
        {{editor
            content=this.data.system.description
            target="data.description"
            button=true
            editable=editable
        }}
    </div>
</form>
