.item-header {
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 24px;
    font-size: 16px;

    border-bottom: thin solid black;

    margin-left: 8px;
    margin-right: 8px;
}

.item-header-left,
.item-header-right {
    flex: 0 0;
    white-space: nowrap;
}

.item-header-right {
    text-align: right;
}

.item-header-center {
    flex: 1 1 auto;
    text-align: center;

    font-weight: bold;
}

.item-spec {
    margin-left: 8px;
    margin-right: 8px;
}

.item-spec > table > tbody > tr > th {
    width: 128px;
}
